<app-preview-header></app-preview-header>

<div class="container">
    
    <div class="menu">
        <img class='ong-img' src="/assets/example_ong.png">
        <form>
            <input type="text" class="search-text" placeholder="O que você procura?">
            <input type="button" class="search-button" value="Texto">
        </form>
        <span class="login">Entre ou <br>cadastre-se</span>
        <span class="bag">R$0,00</span>
        <img src="#" class="bag-icon">
    </div>
    <div class="nav">
        <a style="background-color: #2aa5c7; color: white;">Doe agora</a>
        <a>Quem somos</a>
        <a>Ação social</a>
        <a>Galeria</a>
        <a>Imprensa</a>
        <a>Parceiros</a>
        <a>Fale conosco</a>
    </div>
    <div class="banner">
        <img src="/assets/example_ong_banner.png" class="banner-img">
    </div>
</div>
<div class="donate">
    <div class="donate-cont">
        <span>DOE AGORA</span>
    </div>
</div>
<div class="products">
    <table>
        <tr>
            <td>
                <img src="/assets/fralda.png">
                <span class="desc">Fralda adulta - Plena<br></span>
                <span class="price">R$10</span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="/assets/leite.png">
                <span class="desc">Leite em pó CCGL - 200g<br></span>
                <span class="price">R$10</span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="/assets/macarrao.png">
                <span class="desc">Macarrão Spaghetti - 500g<br></span>
                <span class="price">R$10</span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="/assets/soja.png">
                <span class="desc">Proteína de soja - 400g<br></span>
                <span class="price">R$10</span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="/assets/fralda.png">
                <span class="desc">Descrição<br></span>
                <span class="price">R$10</span>
                <span class="donate-span">Doe agora</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/assets/fralda.png">
                <span class="desc">Descrição<br></span>
                <span class="price">R$10</span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="/assets/fralda.png">
                <span class="desc">Descrição<br></span>
                <span class="price">R$10</span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="/assets/fralda.png">
                <span class="desc">Descrição<br></span>
                <span class="price">R$10</span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="/assets/fralda.png">
                <span class="desc">Descrição<br></span>
                <span class="price">R$10</span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="/assets/fralda.png">
                <span class="desc">Descrição<br></span>
                <span class="price">R$10</span>
                <span class="donate-span">Doe agora</span>
            </td>
        </tr>
    </table>
</div>
<div class="video">
    <table>
        <tr>
            <td>
                <img src="/assets/banner_01.png">
            </td>
            <td>
                <img src="#">
            </td>
            <td>
                <img src="/assets/banner_02.png">
            </td>
        </tr>
    </table>
</div>
<div class="footer">
    <div class="contacts">
        <span>#SeuTexto</span>
        <div class="icons">
            <img src="#">
            <img src="#">
            <img src="#">
            <img src="#">
            <img src="#">
            <img src="#">
        </div>

    </div>
</div>
<div class="portal-links">
    <img src="assets/banner_03.png">
</div>


<app-preview-footer></app-preview-footer>
