<app-preview-header></app-preview-header>

<div class="container">
    
    <div class="menu">
        <img class='ong-img' src="#">
        <form>
            <input type="text" class="search-text" placeholder="O que você procura?">
            <input type="button" class="search-button" value="Texto">
        </form>
        <span class="login">Texto A <br> texto B</span>
        <span class="bag">R$0,00</span>
        <img src="#" class="bag-icon">
    </div>
    <div class="nav">
        <a style="background-color: rgb(240, 40, 20); color: white;">Texto A</a>
        <a>Texto B</a>
        <a>Texto C</a>
        <a>Texto D</a>
        <a>Texto E</a>
        <a>Texto F</a>
        <a>Texto G</a>
    </div>
    <div class="banner">
        <img src="#" class="banner-img">
    </div>
</div>
<div class="donate">
    <div class="donate-cont">
        <span>DOE AGORA</span>
    </div>
</div>
<div class="products">
    <table>
        <tr>
            <td>
                <img src="#">
                <span class="desc">Descrição<br></span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="#">
                <span class="desc">Descrição<br></span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="#">
                <span class="desc">Descrição<br></span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="#">
                <span class="desc">Descrição<br></span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="#">
                <span class="desc">Descrição<br></span>
                <span class="donate-span">Doe agora</span>
            </td>
        </tr>
        <tr>
            <td>
                <img src="#">
                <span class="desc">Descrição<br></span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="#">
                <span class="desc">Descrição<br></span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="#">
                <span class="desc">Descrição<br></span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="#">
                <span class="desc">Descrição<br></span>
                <span class="donate-span">Doe agora</span>
            </td>
            <td>
                <img src="#">
                <span class="desc">Descrição<br></span>
                <span class="donate-span">Doe agora</span>
            </td>
        </tr>
    </table>
</div>
<div class="video">
    <table>
        <tr>
            <td>
                <img src="#">
            </td>
            <td>
                <img src="#">
            </td>
            <td>
                <img src="#">
            </td>
        </tr>
    </table>
</div>
<div class="footer">
    <div class="contacts">
        <span>#SeuTexto</span>
        <div class="icons">
            <img src="#">
            <img src="#">
            <img src="#">
            <img src="#">
            <img src="#">
            <img src="#">
        </div>

    </div>
</div>
<div class="portal-links">
    <img src="#">
</div>


<app-preview-footer></app-preview-footer>
