@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    align-items: center;
    height: 10%;
    background-color: #f3fafa;
}

.header span{
    margin-left: 20px;
    color: #888;
    font-family: Zen Kurenaido, sans-serif;
    font-weight: 700;
}

.icon-menu{
    color: #96E0CE;
    cursor: pointer;
    font-size: 50px;
}

#user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-name{
    margin: 10px 0 0 10px;
    color: #888;
    font-size: 16px;
    font-weight: bold;
}

.admin-cargo{
    margin-top: -10px;
    color: #ababab;
    font-size: 10px;
}

.input{
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 15px 0 0 360px;
}

.form-control{
    padding: 0;
}

.button-search{
    background-color: white;
    border-left: none;
    border-color: #888;
}

.input-content{
    background-color: white;
    border-color: #888;
    font-family: Zen Kurenaido, sans-serif;
    font-weight: bold;
}

.button-search:hover{
    background-color:white;
    color: black
}

.button-preview{
    margin-left: 180px;
    color: #000;
    font-family: Zen Kurenaido, sans-serif;
    font-weight: 700;
}

.button-preview:hover{
    color: black;
}

.button-preview:focus{
    color: black;
}

.icons{
    display: flex;
    margin-left: 50px;
}

.icons i{
    padding: 3px;
    margin: 0 15px;
    color: #888;
    cursor: pointer;
}