@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container-login{
    display: flex;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field{
    width: 30vw;
}

#title{
    color: #FF4848;
    font-size: 2.4rem;
    font-family: 'Oswald', sans-serif;
}

.button{
    width: 50%;
    margin-top: 15px;
    background-color: #3AA6AD !important;
    border-color: #3AA6AD !important;
    transition: all 0.4s !important;
}

.button:hover{
    background-color: #248e96 !important;
}

#singup{
    padding: 25px;
    color: #666;
}

a#singup{
    cursor: pointer;
    text-decoration: none;
}

a#singup:visited{
    text-decoration: none;
}